<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.BatchTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lt.entity.BatchTest">
        <id column="emp_no" property="empNo" />
        <result column="title" property="title" />
    </resultMap>

    <update id="updateForList" >
        <foreach item="item" index="index" collection="batchTests" separator=";" >
            UPDATE batch_test SET title = #{item.title} WHERE emp_no = #{item.empNo}
        </foreach>

    </update>

    <insert id="addForList" >
        INSERT INTO batch_test (`emp_no`,`title`)
        VALUES
        <foreach item="item" index="index" collection="batchTests" separator="," >
            (#{item.empNo},#{item.title})
        </foreach>

    </insert>

</mapper>
